/*
 *= require font-awesome
 */
 @import "font-awesome";

@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,800,600);

$primary-color: #ff646a;
$secondary-color: #7bbae1;
$white: #fff;
$yournie-bg-color:#E9E9E9;
$yournie-darker-bg:#1f222c;
$paragrapho:#444;
$grey-lines:#E0E0E0;
$border-line-col:#D7D7D7;
$route-icons:#999;
$dark-grey-yourney:#444444;

