@import "settings";

/*
***********************
*=foundations overrides
***********************
*/

@media #{$small-only} {
	.small-12 {
	padding:0;
	}
	.route_wrapper{
	max-width:530px;
	margin:0 auto;
	}
 }

.top-bar {

}

.contain-to-grid{	
	// check this to do it with mixins !!!!!!!!
	-moz-box-shadow:    0 1px 2px 0 rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	box-shadow:         0 1px 2px 0 rgba(0, 0, 0, 0.05);

	margin-bottom: 2em;
}

@media #{$small-only} {
	.contain-to-grid{	
			margin-bottom: 0;
		}
}




/*
***********************
*=Typography
***********************
*/

@font-face {
font-family: 'ChunkFive-Roman';
font-style: normal;
font-weight: normal;
src: local('ChunkFive-Roman'),
url('/fonts/chunkfive/Chunkfive.woff') format('woff');
}

body{
	background: $yournie-bg-color;
	color: $paragrapho;
}

h1.logo{

	color: $primary-color;
	font-size:2em;
	font-family: 'ChunkFive-Roman', 'serif';	
	text-align: center;


}

.footer{
	position: relative;
	.logo-bg{
		position: absolute;
		background: $yournie-bg-color;
		width: 50px;
		height: 20px;
		top: 10px;
		margin: 0 auto;
		left: 0;
		right: 0;

		.footer-logo{	
		color: #7B7B7B;		
  		text-shadow: 0px 2px 3px rgba(255,255,255,0.3);  		
			position: absolute;
			font-size:2em;
			font-family: 'ChunkFive-Roman', 'serif';	
			text-align: center;
			margin: 0.3em 0 0.5em 0;
			top: -22px;
			left: 0;
			right: 0;
		}
	}
}


/*
***********************
*=Routes
***********************
*/

.route_wrapper{
	// check this to do it with mixins !!!!!!!!
  -moz-box-shadow:    0 1px 2px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow:         0 1px 2px 0 rgba(0, 0, 0, 0.05);

	border: solid 1px $border-line-col;
	margin-bottom: 2em;

	a{
		position: relative; 	
		display: block;
		img{
		// position: relative; 
		max-width: 100%;
		display:block;
		margin: 0 auto;
		}
		
		h3{
		color: #fff;
		text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
		line-height: 1em;
		font-size: 1.7em;	
		position: absolute; 
		bottom: 1em;
	  // width: 100%; //for IE 6
	  padding: 0 1em 0 1em;
	  margin: 0;
	  font-weight: 400;
		}
	
	}

	h2{
		color:$white;
		margin: 0.4em 0 -1em 0;
		text-align: center;
	}

	p{		
		background:$white;	
		padding:1em;
		margin-bottom: 0;
	}

	.route_img_icons{
		font-size: 1.2em;
		padding:0;
		color: $route-icons;
		background:$white;
		border-bottom:solid 1px $grey-lines;
	 	.icons-text{
	 		font-size:0.8em;
	 		padding-left: 0.6em;
	 		bottom: 0.2em;
			position: absolute;	
	 	}
	}
}

@media #{$medium-only} {
	.route_wrapper{
		.route_img_icons{
			font-size: 1.2em;
			height: 2.6em;
			text-align: center;
		 	.icons-text{
		 		font-size:0.7em;
		 		padding-left: 0;
		 		bottom: -1.3em;
				right: 0;
				left: 0em;

		 	}
		}
	}
}

@media #{$large-up} {
	.route_wrapper{
		.route_img_icons{
			font-size: 1em;
		 	.icons-text{
		 		font-size: 0.7em;
				padding-left: 0.5em;
				bottom: 0.4em;
				position: absolute;
		 	}
		}
	}
}



/*
***********************
*=Stops
***********************
*/

.stop-title{
		margin-top: -1em;
	h1{	
		letter-spacing: -2px;
		font-weight: 900;	
		text-align:center;
		text-transform: capitalize;
		margin: -0.2em;
		text-shadow: 1px 1px 0px #FFF;
	}
	
}

@media #{$small-only} {
	.stop-title{
	display: none;
	}	
}

.stop-wrapper{	
	max-width: 600px ;
	margin: 0 auto;
		img{
			margin:0 auto;
		}
		
		h2{
			color:$white;
			text-align: center;
			margin: 0.4em 0 1em 0;
			font-size: 1.2em;
		}
}
	
/*
***********************
*=Misc
***********************
*/

.voting{
		padding: 1em 0 1em 0;
}

.hiddenDescriptions{
	display: none;
}

.description{
	clear: both;
	min-height: 120px;

	p{
	padding: 1em 1em 1em 1em;
	line-height: 1.4em;
	font-size: 1rem;

	}
}



/*
***********************
*=Map
***********************
*/

.map-container{
	.map-width{			
			}
	}

#map-canvas{
				width: 100%;
				height:12em;
					img{
						max-width: inherit;
					}
}


@media #{$medium-up} {
	.map-container{
		 display: inline-block;
		  position: relative;
	
			.map-width{
				 	padding-top: 100%;						
			}

	}

	#map-canvas{
								height:100%;
								width: 100%;
								position: absolute;
						    top: 0;
						    bottom: 0;
						    left: 0;
						    right: 0;
						    clip: rect(0px, 485px, 470px, 15px);
							}
}




/*
***********************
*=foundation slider
***********************
*/

.touch .orbit-container .orbit-prev,
.touch .orbit-container .orbit-next {
display: inherit;
}

.orbit-bullets {
	margin: 0 auto 0 auto;
	top :0;
}

.orbit-bullets-container {
	text-align: center;
	display: none; // antes era block
	margin: 0 auto;
	position: absolute;
	bottom: 1em;
	left: 0;
	right: 0;
}

.orbit-container .orbit-slide-number {
	display: none;
}

.orbit-container .orbit-slides-container img {

}

.touch .orbit-bullets {
	display: block;
}

.orbit-container 
.orbit-slides-container > * .orbit-caption {
	color: #fff;
	font-size: 1.2rem;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	letter-spacing: -1px;
	line-height: 1.1em;
}



