@import "foundation_and_overrides";

@font-face {
font-family: 'ChunkFive-Roman';
font-style: normal;
font-weight: normal;
src: local('ChunkFive-Roman'),
url('/chunkfive/Chunkfive.woff') format('woff');
}



.top_wrapper{
	
	.logo{
		@media #{$small-only} {
		font-size:2em;
		}
		font-family: 'ChunkFive-Roman', 'serif';
		font-size:4em;
		text-align: center;
	}
	.slogan{
	font-size:0.8em;
	margin: 0 auto;
	display:block;
	text-align: center;
	margin-top: -2.3em;
		@media #{$small-only} {
			font-size:0.6em;
		}
	}

}

.route_img_wrapper{

	img{
	max-width: 100%;
	display:block;
	margin: 0 auto;
	margin-top: 3em;
	}
	h2{
		margin: 0.4em 0 -1em 0;
		text-align: center;
		@media #{$small-only} {
			margin: 0.4em 0 -2em 0;
			font-size: 1.1em;
		}
	}
	
}

.route_img_icons{
	text-align: center;
	
}



/*
***********************
*=Misc
***********************
*/

#map-canvas{
	width: 100%;
	height: 40em;
	img{
		max-width: inherit;
	}
}