
@import "settings";



@font-face {
font-family: 'ChunkFive-Roman';
font-style: normal;
font-weight: normal;
src: local('ChunkFive-Roman'),
url('/chunkfive/Chunkfive.woff') format('woff');
}

body{
	background: #2d394b;
	color: $white;
}




h1.logo{
	color: $primary-color;
	font-size:2em;
	font-family: 'ChunkFive-Roman', 'serif';
	font-size:1.5em;
	text-align: center;
	margin: 0.3em 0 0.5em 0;
}


/*
***********************
*=Routes
***********************
*/

.route-item-wrapper{
	border:solid 1px #3C4254;
	.voting{
		text-align: center;
	}
}

.route_img_wrapper{

	img{
	max-width: 100%;
	display:block;
	margin: 0 auto;
	border: solid 1px $secondary-color;
	}
	h2{
		color:$white;
		margin: 0.4em 0 -1em 0;
		text-align: center;
	}

	h3{
	color: #fff;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
	line-height: 1em;
	font-size: 1.7em;	
	position: absolute; 
	bottom: 1em;
    width: 100%; /* for IE 6 */
    padding: 0 1em 0 1em;
    margin: 0;
    font-weight: 400;
	}
	p{
	border: solid 1px $secondary-color;

	}
	
}

.stop_img_wrapper{
	img{
		max-width: 100%;
		display:block;
		margin: 0 auto;
		}
	h2{
		color:$white;
		text-align: center;
		margin: 0.4em 0 1em 0;
		font-size: 1.2em;
	}

}


.route_img{
	position: relative; 
    width: 100%; /* for IE 6 */
}


.route_img_icons{
	text-align: center;
	height: 1.6em;
	border: solid 1px $secondary-color;
}



/*
***********************
*=Misc
***********************
*/

#map-canvas{
	width: 100%;
	height: 8em;
	// check HARD CODED COLORS HERE
	border-bottom: solid 1px #fff;
	border-top: solid 1px #9E9E9E;

		img{
			max-width: inherit;
		}
}

.hiddenDescriptions{
	display: none;
}


.description{
	p{
	padding: 0.3em 1em 0 1em;
	line-height: 1.4em;
	font-size: 1rem;

	}
}

/*
***********************
*=foundation slider
***********************
*/



.touch .orbit-container .orbit-prev,
.touch .orbit-container .orbit-next {
display: inherit;
}

.orbit-bullets {
	margin: 0 auto 0 auto;
	top :0;
}

.orbit-bullets-container {
	text-align: center;
	display: none; // antes era block
	margin: 0 auto;
	position: absolute;
	bottom: 1em;
	left: 0;
	right: 0;
}

.orbit-container .orbit-slide-number {
	display: none;
}

.orbit-container .orbit-slides-container img {
	border-bottom: solid 1px #fff;
}

.touch .orbit-bullets {
	display: block;
}

.orbit-container 
.orbit-slides-container > * .orbit-caption {
	color: #fff;
	font-size: 1.2rem;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	letter-spacing: -1px;
	line-height: 1.1em;
}



