<div class="row">

  <div class="small-12 medium-6 large-6 columns">
    <div class="fb-comments" data-href=" <%= request.original_url %> " data-numposts="5" data-colorscheme="light" data-width="100%"></div>
  
  </div>

</div>
