<div class="row footer">
  
    <hr>
    <div class="logo-bg">      
      <span class="footer-logo">Y</span> 
    </div>

    <ul class="inline-list right links-footer">
      <li><a href="">Contact</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Partner</a></li>
    </ul>

</div>